<div id="app">
  <div class="group">
    <ng-transx
      [time]="0.7"
      [loop]="true"
      [autoplay]="false"
      [nextTransition]="nextTransition"
      [prevTransition]="prevTransition"
    >
      <image class="image" *ngFor="let item of items" [index]="item"></image>
    </ng-transx>
  </div>
  <div>
    <div class="btn-group">
      <div>当前第{{ currentIndex + 1 }}个组件</div>
    </div>

    <div class="btn-group">
      <div class="button">上一个</div>
      <div class="button">下一个</div>
      <div class="button">跳 转</div>
    </div>

    <div class="btn-group">
      <div class="transition">
        <span>prevTransition </span>
        <select>
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="transition">
        <span>nextTransition </span>
        <select>
          <option
          *ngFor="let option of options"
            [value]="option.value"
          >
            {{ option.text }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
